

<p id="notice"><%= notice %></p>
<div style="text-align:center;width:100%; height:60px; color:black; border: solid 1px #ccc; background-color:#0066FF">
<p align="center" style="font-size:20px">Expenses by Category</p>
</div>
<br/><br/>
<table  align="center" style="border: 1px solid black;border-collapse: collapse;padding:100px">
  <thead>
    <tr>
      <th>Category Type&nbsp;</th>
      <th> | Options</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Display', category %></td>
        <td><%= link_to 'Update', edit_category_path(category) %>&nbsp; &nbsp; &nbsp; </td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp; &nbsp; &nbsp; </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
<br>
Total Income = <%=Income.sum(:amount)%><br>
Total Cost =<%=Cost.sum(:amount)%><br>
Balance = <%=(Income.sum(:amount) - Cost.sum(:amount)) %> <br/>
<br/>
<% if((Income.sum(:amount) - Cost.sum(:amount))>1000) %>

<div style='text-align:center;width:300px; height:20px; color:black; border: solid 1px #blue; background-color:#009900'>
Alert! You can still spend
</div>

<% elsif((Income.sum(:amount) - Cost.sum(:amount))>500) %>

<div style='text-align:center;width:300px; height:20px; color:black; border: solid 1px #blue; background-color:#FFCC00'>
Alert! check your spendings
</div>

	<% else %>
	<div style="text-align:center;width:300px; height:20px; color:black; border: solid 1px #blue; background-color:red">

	<b> Alert! Costs are higher than Income </b>
	 </div>
<% end %>
<br/>
<%= link_to 'New Category', new_category_path %>
</div
