<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Income<h2>
  <div id="income">
	<% @category.incomes.each do |income|%>
		<%= div_for income do %>
		<p>
			<strong>Credited <%= time_ago_in_words(income.created_at) %></strong><br />
			<%= h(income.amount) %>
		</p>
		<% end %>
	<% end %>
  </div>

  <%=form_for([@category, Income.new]) do |f| %>
  <p><%= f.label :body, "New Income" %><br />
    <%= f.text_area :amount %>
  </p>
  <p><%= f.submit "Add Income" %></p>
  <% end %>

  <h2>Cost<h2>
  <div id="cost">
	<% @category.costs.each do |cost|%>
		<%= div_for cost do %>
		<p>
			<strong>Debited <%= time_ago_in_words(cost.created_at) %></strong><br />
			<%= h(cost.amount) %>
		</p>
		<% end %>
	<% end %>
  </div>

  <%=form_for([@category, Cost.new]) do |f| %>
  <p><%= f.label :body, "New Cost" %><br />
    <%= f.text_area :amount %>
  </p>
  <p><%= f.submit "Add Cost" %></p>
  <% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>